*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
form {
    border: 3px solid #f1f1f1;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(./images/pexels-andré-cook-131723.jpg);
    background-size: cover;
    background-position: center;
}
form .container label b,
form .container label input[type=checkbox]{
    color: white;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button a{
    color: white;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container {
    width: 30%;
    padding: 16px;
    margin: 80px 450px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1125px) {
    .container{
        width: 50%;
        margin: 80px 230px;
    }
}
@media screen and (max-width: 1025px) {
    .container{
        width: 50%;
        margin: 80px 190px;
    }
}
@media screen and (max-width: 925px) {
    .container{
        width: 50%;
        margin: 80px 180px;
    }
}
@media screen and (max-width: 825px) {
    .container{
        width: 50%;
        margin: 80px 150px;
    }
}
@media screen and (max-width: 725px) {
    .container{
        width: 55%;
        margin: 80px 110px;
    }
}
@media screen and (max-width: 625px) {
    .container{
        width: 60%;
        margin: 80px 80px;
    }
}
@media screen and (max-width: 525px) {
    .container{
        width: 65%;
        margin: 80px 50px;
    }
}
@media screen and (max-width: 425px) {
    .container{
        width: 65%;
        margin: 80px 50px;
    }
}
@media screen and (max-width: 325px) {
    .container{
        width: 90%;
        margin:  80px auto;
    }
}